<!DOCTYPE html>
<html lang="zxx">

<head>
  <meta charset="utf-8">
  <!-- Page title -->
  <title>Machan Taxi | Experience the better</title>
  <!-- Project favicon link -->
  <link rel="icon" href="assets/images/favicon.png" type="image/gif">
  <!-- All device viewport meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Fonts style file -->
  <link rel="stylesheet" href="assets/css/all-fontawesome.min.css">

  <!-- Custom Libraries style start -->

  <!-- Swiper Bundle slider style file -->
  <link rel="stylesheet" type="text/css" href="assets/css/swiper-bundle.min.css">
  <!-- Aos animation style file -->
  <link rel="stylesheet" type="text/css" href="assets/css/aos.css">
  <!-- Magnific Popup style file -->
  <link rel="stylesheet" type="text/css" href="assets/css/magnific-popup.css">
  <!-- Custom Libraries style end -->

  <!-- Custom style file -->
  <link rel="stylesheet" type="text/css" href="./assets/css/styles.css">

</head>

<body>
  <div class="text-md md:text-lg font-red-hat-display text-dark-800 leading-xl" x-data="{ show: false , open: false }">

    <!-- Header search popup -->
    <div :class="{ 'open': show }"
      class="search-popup transition-all fixed -top-full left-0 w-full h-full bg-black/80 z-50 flex items-center">
      <a href="javascript:;" @click="show = !show" :aria-expanded="show ? 'false' : 'true'"
        class="absolute top-5 right-5 w-10 h-10 flex items-center justify-center"><img src="assets/images/close.svg"
          alt="close"></a>
      <!-- container -->
      <div class="container text-center">
        <form>
          <div class="border-b border-white relative pr-[80px]">
            <input type="text" placeholder="Search here" name=""
              class="bg-transparent px-0 py-3 md:py-5 text-white text-left w-full text-md md:text-25">
            <button
              class="bg-primary-900 absolute top-0 right-0 w-12 h-10 md:w-[75px] md:h-[60px] rounded-sm text-white"><i
                class="fa-regular fa-magnifying-glass"></i></button>
          </div>
        </form>
      </div>
    </div>

    <!-- start-header -->
    <header class="header relative z-20" :class="{ 'header-open': open }">
      <div class="overlay lg:hidden" @click="open = !open" :aria-expanded="open ? 'true' : 'false'"></div>
      <!-- header top bar -->
      <div class="bg-dark-900 text-white text-sm font-medium py-2 hidden sm:block">
        <!-- container -->
        <div class="container flex justify-between items-center">
          <!-- Follow us: -->
          <div class="flex items-center gap-5 md:gap-12">
            <div class="flex items-center gap-5 md:gap-4">
              <label class="hidden sm:block">Follow us:</label>
              <ul class="flex items-center gap-4">
                <li><a href="#" class="hover:text-primary-900"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#" class="hover:text-primary-900"><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href="#" class="hover:text-primary-900"><i class="fa-brands fa-youtube"></i></a></li>
              </ul>
            </div>
            <div class="flex items-center">
              <a href="tel:+12345454545" class="flex items-center gap-4 hover:text-primary-900"><i
                  class="fa-solid fa-phone"></i> <span class="hidden md:block">+94 234 545 4545</span></a>
            </div>
          </div>
          <!-- Follow us: -->
        </div>
      </div>
      <!-- start header main navigation -->
      <div class="main-navigation py-3 bg-dark-900">
        <!-- container -->
        <div class="container flex items-center justify-between">
          <!-- header logo-->
          <div class="logo">
            <a href="javascript:;" class="max-w-[150px] sm:max-w-auto block">
              <img src="" alt="logo">
            </a>
          </div>

          <!-- Header right menu-->
          <div class="flex items-center justify-end gap-5 lg:gap-10">
            <!-- main menu -->
            <div class="main-menu lg:block">
              <button type="button" class="absolute top-0 right-0 lg:hidden p-1" @click="open = !open"
                :aria-expanded="open ? 'true' : 'false'">
                <img src="assets/images/close-dark.svg" alt="menu-close-icon">
              </button>
              <ul class="lg:flex items-center lg:gap-1 text-sm lg:text-md text-yellow-600 font-semibold">
                <li class="active"><a href="index-1.html" class="hover:text-primary-900 text-yellow-600">Home</a></li>
                <li><a href="about.html" class="hover:text-primary-900 text-yellow-600">About</a></li>
                </li>
              </ul>
            </div>

            <!-- header button -->
            <div class="flex items-center gap-5">
              <div class="block lg:hidden">
                <button type="button" @click="open = !open" :aria-expanded="open ? 'true' : 'false'">
                  <img src="assets/images/menu-toggle-icon.svg" alt="menu-toggle-icon">
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- end header main navigation -->
    </header>
    <!-- end-header -->

    <!-- start main wrapper -->
    <div class="main-wrapper">
      <!-- start hero section -->
      <div class="bg-yellow-600">
        <div class="relative isolate px-6 pt-0 lg:px-8">
          <div class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
            aria-hidden="true">
            <div
              class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
              style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
          </div>
          <div class="mx-auto max-w-2xl py-14 sm:py-36">
            <div class="text-center">
              <h1 class="text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">MachanTaxi</h1>
              <h2 class="mt-6 text-2xl leading-8 text-black">Sri Lankan Reliable Taxi Service</h2>
              <div class="mt-10 flex items-center justify-center gap-4  sm:gap-x-6">
                <div class="flex flex-wrap items-center justify-center gap-4">
                  <a href="#" class="p-4 sm:p-6 rounded-md bg-black shadow-sm hover:bg-primary-900 text-white"><i
                      class="fa-brands fa-whatsapp text-2xl"></i></a>
                  <a href="#" class="p-4 sm:p-6 rounded-md bg-black shadow-sm hover:bg-primary-900 text-white"><i
                      class="fa-brands fa-facebook text-2xl"></i></a>
                  <a href="#" class="p-4 sm:p-6 rounded-md bg-black shadow-sm hover:bg-primary-900 text-white"><i
                      class="fa-brands fa-youtube text-2xl sm:text-2xl"></i></a>
                  <a href="#" class="p-4 sm:p-6 rounded-md bg-black shadow-sm hover:bg-primary-900 text-white"><i
                      class="fa-solid fa-phone text-2xl sm:text-2xl"></i></a>
                  <a href="#" class="p-4 sm:p-6 rounded-md bg-black shadow-sm hover:bg-primary-900 text-white"><i
                      class="fa-solid fa-envelope text-2xl sm:text-2xl"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div
            class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
            aria-hidden="true">
            <div
              class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
              style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)">
            </div>
          </div>
        </div>
      </div>
      <!-- end hero section -->

      <!-- start Top Destinations section -->
      <section class="bg-yellow-600">
        <!-- container -->
        <div class="container">
          <!-- section heading -->
          <div class="text-center mb-8 md:mb-14">
            <h2 class="text-black">Our Service</h2>
            <p class="max-w-[590px] mx-auto text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
              tempor incididunt</p>
          </div>

          <!-- category grid -->
          <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-5 md:gap-7">

            <!-- category box -->
            <div class="category-box overflow-hidden group rounded-1xl relative">
              <img src="assets/images/categories-img-1.jpg" alt="categories img 1"
                class="transition-all group-hover:scale-105">
              <div class="categories-detail">
                <a href="#">
                </a>
              </div>
            </div>
            <!-- category box -->
            <div class="category-box overflow-hidden group rounded-1xl relative">
              <img src="assets/images/categories-img-2.jpg" alt="categories img"
                class="transition-all group-hover:scale-105">
              <div class="categories-detail">
                <a href="#">
                </a>
              </div>
            </div>
            <!-- category box -->
            <div class="category-box overflow-hidden group rounded-1xl relative">
              <img src="assets/images/categories-img-3.jpg" alt="categories img"
                class="transition-all group-hover:scale-105">
              <div class="categories-detail">
                <a href="#">
                </a>
              </div>
            </div>
            <!-- category box -->
            <div class="category-box overflow-hidden group rounded-1xl relative">
              <img src="assets/images/categories-img-4.jpg" alt="categories img"
                class="transition-all group-hover:scale-105">
              <div class="categories-detail">
                <a href="#">
                </a>
              </div>
            </div>
            <!-- category box -->
            <div class="category-box overflow-hidden group rounded-1xl relative">
              <img src="assets/images/galle-fort.jpg" alt="categories img" class="transition-all group-hover:scale-105">
              <div class="categories-detail">
                <a href="#">
                </a>
              </div>
            </div>
            <!-- category box -->
            <div class="category-box overflow-hidden group rounded-1xl relative">
              <img src="assets/images/caption.jpg" alt="categories img" class="transition-all group-hover:scale-105">
              <div class="categories-detail">
                <a href="#">
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end Top Destinations section -->

      <!-- start about section -->
      <section class="bg-yellow-600">
        <!-- container -->
        <div class="container">
          <div class="flex flex-wrap -mx-4">
            <!-- about gallery img -->
            <div class="w-full md:w-2/4 px-4">
              <div
                class="relative border-[6px] border-white shadow-box-1 rounded-md max-w-[330px] overflow-hidden before:pt-[73%] before:block">
                <img src="assets/images/about-img1.jpg" alt="about img 1"
                  class="absolute top-0 left-0 w-full h-full object-cover">
              </div>
              <div
                class="relative border-[6px] mx-auto mr-5 md:mr-14 -mt-32 -mb-14 rotate-12 border-white shadow-box-1 rounded-md max-w-[330px] overflow-hidden before:pt-[73%] before:block">
                <img src="assets/images/about-img2.jpg" alt="about img 1"
                  class="absolute top-0 left-0 w-full h-full object-cover">
              </div>
              <div
                class="relative border-[6px] border-white shadow-box-1 ml-5 md:ml-0 -rotate-[8deg] rounded-md max-w-[330px] overflow-hidden before:pt-[73%] before:block">
                <img src="assets/images/about-img3.jpg" alt="about img 1"
                  class="absolute top-0 left-0 w-full h-full object-cover">
              </div>
            </div>
            <!-- about content -->
            <div class="w-full md:w-2/4 px-4 mt-10 md:mt-0">
              <h2 class="text-black">A Simply Perfect Place To Get Lost</h2>
              <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                incididunt ut labore et
                dolore magna aliqua. Urna nunc id cursus metus aliquam eleifend. Integer enim neque volutpat ac
                tincidunt vitae. </p>

              <ul class="ul-list mb-9 text-black">
                <li>Adipiscing elit ut aliquam purus sit</li>
                <li>Amet luctus venenatis. Felis bibendum</li>
                <li>Ut tristique et egestas quis. Gravida in</li>
                <li>Ermentum et sollicitudin ac.</li>
                <li>Nibh nisl condimentum id venenatis a.</li>
              </ul>

              <div
                class="bg-black rounded-xl py-4 px-4 xl:px-5 shadow-box-1 justify-between flex flex-wrap lg:flex-nowrap items-center gap-5 text-md xl:text-lg text-dark-900">
                <a href="tel:+12345455454" class="flex items-center gap-2 xl:gap-4 text-white hover:text-primary-900">
                  <span
                    class="bg-primary-900 w-[46px] h-[46px] rounded-full flex items-center justify-center text-white text-lg shrink-0"><i
                      class="fa-solid fa-phone"></i></span>
                  +94 70 XXX XXXX
                </a>
                <a href="mailto:journeya@gmail.com"
                  class="flex items-center gap-2 xl:gap-4 text-white hover:text-primary-900">
                  <span
                    class="bg-primary-900 w-[46px] h-[46px] rounded-full flex items-center justify-center text-white text-lg shrink-0"><i
                      class="fa-solid fa-envelope"></i></span>
                  Example@gmail.com
                </a>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end about section -->


      <!-- Video section Start-->
      <section class="bg-yellow-600 py-10 md:py-20 lg:py-28 overflow-hidden bg-gray-900">
        <div class="container mx-auto flex flex-wrap lg:flex-nowrap">
          <div class="w-full  flex items-center">
            <video class="w-full h-full object-cover rounded-lg md:hidden lg:block" controls autoplay muted loop
              width="800" height="600">
              <source src="assets/images/Sri lanka.mp4" type="video/mp4" />
              Your browser does not support the video tag.
            </video>
          </div>

          <div class="w-full mt-6 md:mt-0 lg:w-1/2 lg:px-8">
            <div class="flex flex-col justify-between lg:bg-transparent lg:shadow-none">
              <div>
                <h2 class=" font-bold text-black">Discover the Sri Lanka</h2>
                <p class="mt-2 text-black">Sri Lanka, off India's southern coast, is an island nation surrounded by
                  the Indian Ocean, Gulf of Mannar, and Palk Strait.</p>
                <ul class="ul-list mb-9 text-black">
                  <li>Heart of the Indian Ocean</li>
                  <li>Sri Lanka used to be called Ceylon which is the transliteration of Ceilao.</li>
                  <li>The oldest living tree known to be planted by man is in Sri Lanka.</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Video section End-->


      <!-- start Perfect travel planner section -->
      <section class="bg-yellow-600 py-10 md:py-20 lg:py-28 relative">
        <!-- container -->
        <div class="container">
          <div class="grid grid-cols-1 md:grid-cols-3 items-center gap-5">
            <div class="text-center md:text-left">
              <h2 class="text-black">Perfect travel planner for you and your family</h2>
              <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
              <div class="flex justify-center md:justify-start items-center mb-5">
                <img
                  class="object-cover w-10 h-10 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                  src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=256&q=80"
                  alt="">
                <img
                  class="object-cover w-10 h-10 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                  src="https://images.unsplash.com/photo-1534528741775-53994a69daeb?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=256&q=80"
                  alt="">
                <img
                  class="object-cover w-10 h-10 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                  src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1256&q=80"
                  alt="">
                <img
                  class="object-cover w-10 h-10 -mx-1 border-2 border-white rounded-full dark:border-gray-700 shrink-0"
                  src="https://images.unsplash.com/photo-1560250097-0b93528c311a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=256&q=80"
                  alt="">
                <p
                  class="flex items-center justify-center w-10 h-10 -mx-1 mb-0 text-md font-bold text-white bg-primary-900 border-2 border-white rounded-full">
                  +4</p>
              </div>
              <p class="text-sm mb-0"><span class="text-primary-900">+500</span> Happy Customer</p>
            </div>
            <div class="relative">
              <div
                class="overflow-hidden relative rounded-full mx-auto md:mx-0 max-w-[310px] before:pt-[140%]  before:block">
                <img src="assets/images/stephan-valentin-img.jpg" alt="stephan-valentin-img"
                  class="w-full h-full object-cover absolute top-0 left-0">
              </div>
              <div
                class="absolute bottom-0 -left-0 md:-left-8 w-[123px] h-[123px] rounded-full bg-primary-900 flex items-center justify-center text-white">
                <svg viewBox="0 0 100 100" fill="currentColor" width="102" height="102">
                  <defs>
                    <path id="circle" d="
                          M 50, 50
                          m -37, 0
                          a 37,37 0 1,1 74,0
                          a 37,37 0 1,1 -74,0" />
                  </defs>
                  <text font-size="14">
                    <textPath xlink:href="#circle" class="text-white">
                      * Explore the world * MachanTaxi
                    </textPath>
                  </text>
                </svg>
              </div>
            </div>
            <div class="text-center md:text-left">
              <h5 class="text-xl mb-5 font-bold">Waiting for adventures? Don`t miss them</h5>
              <p class="mb-8 text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
              <div class="grid grid-cols-0 sm:grid-cols-3 gap-2 lg:gap-5">
                <div>
                  <h4 class="text-primary-900 mb-0">20</h4>
                  <p class="text-sm leading-xl font-medium">Years Experience</p>
                </div>
                <div>
                  <h4 class="text-primary-900 mb-0">400</h4>
                  <p class="text-sm leading-xl font-medium">Destination Travel</p>
                </div>
                <div>
                  <h4 class="text-primary-900 mb-0">50k+</h4>
                  <p class="text-sm leading-xl font-medium">Trusted by Customer</p>
                </div>
              </div>
              <a href="about.html" class="btn btn-primary mx-auto md:mx-0">Explore all <i
                  class="fa-regular fa-arrow-right ml-3"></i></a>
            </div>
          </div>
        </div>
      </section>
      <!-- end Perfect travel planner section -->

      <!-- start Why choose us section -->
      <section class="bg-yellow-600 pt-20 md:pt-32 pb-10 md:pb-20 lg:pb-28 lg:-mt-14 relative">
        <!-- <div class="absolute -top-0 lg:-top-12 left-0 w-full">
          <img src="assets/images/why-choose-us-bg.svg" alt="why-choose-us-bg" class="w-full block">
        </div> -->
        <!-- container -->
        <div class="container relative">
          <!-- section heading -->
          <div class="text-center mb-10 md:mb-14">
            <h2 class="text-black">Why choose us?</h2>
            <p class="max-w-[590px] mx-auto text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod
              tempor incididunt</p>
          </div>
          <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 items-center gap-7">
            <!-- Why choose us service box -->
            <div class="bg-black shadow-box-2 group rounded-4xl py-3 md:py-5 px-3 flex items-center gap-5">
              <div
                class="bg-primary-800 rounded-2xl w-24 h-24 flex items-center justify-center shrink-0 transition-all">
                <img src="assets/images/world-tour-icon.svg" alt="world-tour-icon" class="">
              </div>
              <div class="">
                <h5 class="text-lg mb-2 text-white">Set Travel Plan</h5>
                <p class="text-sm mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
              </div>
            </div>
            <!-- Why choose us service box -->
            <div class="bg-black shadow-box-2 group rounded-4xl py-3 md:py-5 px-3 flex items-center gap-5">
              <div
                class="bg-primary-800 rounded-2xl w-24 h-24 flex items-center justify-center shrink-0 transition-all">
                <img src="assets/images/travelling-icon.svg" alt="world-tour-icon" class="">
              </div>
              <div class="">
                <h5 class="text-lg mb-2 text-white">Explore Around</h5>
                <p class="text-sm mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
              </div>
            </div>
            <!-- Why choose us service box -->
            <div class="bg-black shadow-box-2 group rounded-4xl py-3 md:py-5 px-3 flex items-center gap-5">
              <div
                class="bg-primary-800 rounded-2xl w-24 h-24 flex items-center justify-center shrink-0 transition-all">
                <img src="assets/images/best-guide-icon.svg" alt="world-tour-icon" class="">
              </div>
              <div class="">
                <h5 class="text-lg mb-2 text-white">Best Guide</h5>
                <p class="text-sm mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
              </div>
            </div>
            <!-- Why choose us service box -->
            <div class="bg-black shadow-box-2 group rounded-4xl py-3 md:py-5 px-3 flex items-center gap-5">
              <div
                class="bg-primary-800 rounded-2xl w-24 h-24 flex items-center justify-center shrink-0 transition-all">
                <img src="assets/images/support-icon.svg" alt="world-tour-icon" class="">
              </div>
              <div class="">
                <h5 class="text-lg mb-2 text-white">Support 24/7</h5>
                <p class="text-sm mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
              </div>
            </div>
            <!-- Why choose us service box -->
            <div class="bg-black shadow-box-2 group rounded-4xl py-3 md:py-5 px-3 flex items-center gap-5">
              <div
                class="bg-primary-800 rounded-2xl w-24 h-24 flex items-center justify-center shrink-0 transition-all">
                <img src="assets/images/easy-booking-icon.svg" alt="world-tour-icon" class="">
              </div>
              <div class="">
                <h5 class="text-lg mb-2 text-white">Easy Booking</h5>
                <p class="text-sm mb-0 text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
              </div>
            </div>
            <!-- Why choose us service box -->
            <div class="bg-black shadow-box-2 group rounded-4xl py-3 md:py-5 px-3 flex items-center gap-5">
              <div
                class="bg-primary-800 rounded-2xl w-24 h-24 flex items-center justify-center shrink-0 transition-all">
                <i class="text-4xl text-primary-900 fa-solid fa-hand-holding-box"></i>
              </div>
              <div class="">
                <h5 class="text-lg mb-2 text-white">Tour Packages</h5>
                <p class="text-sm mb-0 text-white">Explore exciting destinations with our curated tour packages. Immerse
                  yourself in new cultures and create lasting memories.</p>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end Why choose us section -->

      <!-- start Testimonial section -->
      <section class="bg-yellow-600 py-10 md:py-16 relative">
        <!-- container -->
        <div class="container">
          <div class="flex flex-wrap items-center">
            <!-- section heading -->
            <div class="w-full md:w-2/5">
              <div class="md:max-w-[406px]">
                <h2 class="text-black">What our Travelers are saying</h2>
                <p class="text-black">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
              </div>
            </div>
            <!-- testimonial slider-->
            <div class="testimonial-slider w-full md:w-3/5 lg:pl-14">
              <div class="slider-arrow">
                <div class="swiper-button-prev arrow"></div>
                <div class="swiper-button-next arrow static m-0"></div>
              </div>
              <div class="swiper mySwiper py-5 px-3">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div class="shadow-card-3 p-5 bg-black rounded-4xl">
                      <div class="flex items-center space-x-1 mb-5">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3 text-gray-300 dark:text-gray-500" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="yellow" viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                      </div>
                      <p class="text-white text-md mb-10">“Six days of cycling on and off road, tough but super
                        enjoyable and interesting. Lucky to have a great group and tour guide, Alfonso.”</p>

                      <div class="flex border-t border-gray-100 pt-3">
                        <figcaption class="flex justify-center items-center space-x-3">
                          <img class="w-10 h-10 rounded-full shrink-0"
                            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                            alt="profile picture">
                          <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div class="text-white text-sm font-bold leading-normal">John Borthe</div>
                            <div class="text-10 font-light text-dark-800 leading-normal dark:text-gray-400">
                              Newzealand-NZ</div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="shadow-card-3 p-5 bg-black rounded-4xl">
                      <div class="flex items-center space-x-1 mb-5">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3 text-gray-300 dark:text-gray-500" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="yellow" viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                      </div>
                      <p class="text-white text-md mb-10">“The tours in this website are great. I had been really
                        enjoy with my family! The team is very professional and taking care of the customers. Will
                        surely recommend to my freind to join this company!”</p>

                      <div class="flex border-t border-gray-100 pt-3">
                        <figcaption class="flex justify-center items-center space-x-3">
                          <img class="w-10 h-10 rounded-full shrink-0"
                            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                            alt="profile picture">
                          <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div class="text-white text-sm font-bold leading-normal">John Borthe</div>
                            <div class="text-10 font-light text-dark-800 leading-normal dark:text-gray-400">
                              Newzealand-NZ</div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div class="shadow-card-3 p-5 bg-black rounded-4xl">
                      <div class="flex items-center space-x-1 text-yellow-900 mb-5">
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="yellow"
                          viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                        <svg class="w-3 h-3 text-gray-300 dark:text-gray-500" aria-hidden="true"
                          xmlns="http://www.w3.org/2000/svg" fill="yellow" viewBox="0 0 22 20">
                          <path
                            d="M20.924 7.625a1.523 1.523 0 0 0-1.238-1.044l-5.051-.734-2.259-4.577a1.534 1.534 0 0 0-2.752 0L7.365 5.847l-5.051.734A1.535 1.535 0 0 0 1.463 9.2l3.656 3.563-.863 5.031a1.532 1.532 0 0 0 2.226 1.616L11 17.033l4.518 2.375a1.534 1.534 0 0 0 2.226-1.617l-.863-5.03L20.537 9.2a1.523 1.523 0 0 0 .387-1.575Z" />
                        </svg>
                      </div>
                      <p class="text-white text-md mb-10">“Six days of cycling on and off road, tough but super
                        enjoyable and interesting. Lucky to have a great group and tour guide, Alfonso.”</p>

                      <div class="flex border-t border-gray-100 pt-3">
                        <figcaption class="flex justify-center items-center space-x-3">
                          <img class="w-10 h-10 rounded-full shrink-0"
                            src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/avatars/jese-leos.png"
                            alt="profile picture">
                          <div class="space-y-0.5 font-medium dark:text-white text-left">
                            <div class="text-white text-sm font-bold leading-normal">John Borthe</div>
                            <div class="text-10 font-light text-dark-800 leading-normal dark:text-gray-400">
                              Newzealand-NZ</div>
                          </div>
                        </figcaption>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="absolute bottom-0 left-0">
          <img src="assets/images/testimonial-left-img.svg" alt="testimonial-left-img">
        </div>
        <div class="absolute bottom-0 right-0">
          <img src="assets/images/testimonial-right-img.svg" alt="testimonial-left-img">
        </div>
      </section>
      <!-- end Testimonial section -->
    </div>

    <!-- footer -->
    <footer class="footer-part relative bg-yellow-600">
      <!-- container -->
      <div class="container relative z-1">
        <!-- footer center-->
        <div class="flex flex-wrap -mx-4 pt-10 border-t border-gray-100">
          <div class="w-full lg:w-1/3 px-3">
            <!-- footer column -->
            <div class="mb-10 lg:mb-6 text-center lg:text-left lg:max-w-[260px]">
              <div class="mb-3 lg:mb-6">
                <a href="index-1.html" class="inline-block">
                  <img src="#" alt="logo-dark">
                </a>
              </div>
              <p class="mb-5 font-normal text-15">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod tempo.</p>

              <!-- Social icon -->
              <ul class="flex items-center justify-center lg:justify-start space-x-4 text-md text-primary-900">
                <li>
                  <a href="#"
                    class="w-8 h-8 rounded-full flex items-center justify-center transition-all bg-primary-800 hover:bg-primary-900 hover:text-white"><i
                      class="fa-brands fa-facebook"></i></a>
                </li>
                <li>
                  <a href="#"
                    class="w-8 h-8 rounded-full flex items-center justify-center transition-all bg-primary-800 hover:bg-primary-900 hover:text-white"><i
                      class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                  <a href="#"
                    class="w-8 h-8 rounded-full flex items-center justify-center transition-all bg-primary-800 hover:bg-primary-900 hover:text-white"><i
                      class="fa-brands fa-youtube"></i></a>
                </li>
                <li>
                  <a href="#"
                    class="w-8 h-8 rounded-full flex items-center justify-center transition-all bg-primary-800 hover:bg-primary-900 hover:text-white"><i
                      class="fa-brands fa-instagram"></i></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="w-full lg:w-2/3 px-3">
            <div class="grid grid-cols-1 sm:grid-cols-3">
              <!-- footer column -->
              <div class="mb-6">
                <h4 class="footer-title">Contact Us</h4>
                <!-- footer contact detail -->
                <p class="pl-7 relative text-15 mb-3"><span class="absolute top-2 left-0"><img
                      src="assets/images/pin.svg" alt="call-sharp"></span>28 W Colombo XXXX XXXX</p>
                <p class="pl-7 relative text-15 mb-3"><span class="absolute top-2 left-0"><img
                      src="assets/images/call-sharp.svg" alt="call-sharp"></span><a href="tel:(630) 844-0400"
                    class="hover:text-primary-900">+94 70 XXX XXXX</a></p>
                <p class="pl-7 relative text-15 mb-3"><span class="absolute top-2 left-0"><img
                      src="assets/images/mail-unread.svg" alt="call-sharp"></span><a href="mailto:journeya@gmail.com"
                    class="hover:text-primary-900">Example.com</a></p>
              </div>
              <!-- footer column -->
              <div class="mb-6">
                <h4 class="footer-title">Gallery</h4>
                <!-- footer Gallery -->
                <div class="grid grid-cols-4 gap-3">
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img1.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img2.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img3.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img4.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img5.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img6.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img7.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                  <div class="overflow-hidden relative group rounded-xl before:block before:pt-full">
                    <a href="#" class="absolute top-0 left-0 h-full w-full block">
                      <img src="assets/images/footer-gallery-img8.jpg" alt="footer-gallery-img1"
                        class="transition-all group-hover:scale-105 w-full h-full object-cover duration-300">
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- footer bottom-->
        <div class="border-t border-gray-100 py-4 text-center md:text-left md:flex items-center justify-between">
          <p class="text-dark-900 text-md mb-0">Copyright 2024 <a href="index-1.html"
              class="text-primary-900 hover:text-dark-900">MachanTaxi</a>. All Rights Reserved.</p>
          <p class="text-dark-900 text-md mb-0">Design by <a href="https://www.eversoft.lk/"
              class="text-primary-900 hover:text-dark-900">Eversoft IT Solutions</a>.</p>
        </div>
      </div>
    </footer>
  </div>

  <!-- Custom Libraries script js start -->
  <!-- jquery min js file -->
  <script src="assets/js/jquery.min.js"></script>
  <!-- Swiper bundle js file -->
  <script src="assets/js/swiper-bundle.min.js"></script>
  <!-- Isotope js file -->
  <script src="assets/js/isotope.pkgd.js"></script>
  <!-- Aos animation js file -->
  <script src="assets/js/aos.js"></script>
  <!-- Magnific popup min js file -->
  <script src="assets/js/jquery.magnific-popup.min.js"></script>


  <!-- custom script js -->
  <script src="assets/js/alpine.min.js"></script>
  <script src="assets/js/custom.js"></script>

  <!-- Use this minifiy js for project speeded loading -->
  <!-- <script src="assets/js/custom.min.js"></script> -->
</body>

</html>